#score{
    text-align:center;
}

#game{
width: 1200px;
height: 500px;
border:2px solid blue;
margin:auto;
background-image: url("https://img.freepik.com/free-photo/white-cloud-sky-background_74190-4646.jpg?w=2000");
background-size: cover;
}

#luttapi{
height: 100px;
width: 120px;
position: relative;
top: 225px;
background-image: url(images/luttapi-removebg-preview.png);
background-size: cover;
}

#mayavi{
height: 100px;
width: 110px;
position: relative;
top: 175px;
left: 1150px;
background-image: url(images/mayavi-removebg-preview.png);
background-size: cover;
animation: mayavi 2s infinite;
}

@keyframes mayavi {
    0%{left: 1150px;}
    100%{left: -50px;}
}

.jump-animation{
    animation: jump 1s; 

}

@keyframes jump {
    0%{top: 225px;}
    50%{top: 75px;}
    75%{top: 75px;}
    100%{top: 225px;}
}